$primary: rgb(160, 209, 160);
$white: rgb(255, 255, 255);
$dark: rgb(29, 29, 29);
$green: rgb(190, 220, 190);
$green-light: rgb(230, 240, 230);
$gray-light: rgb(237, 237, 237);
$gray-light-secondary: rgb(249, 249, 249);
$gray: rgb(118, 118, 118);
$blue: rgb(112, 126, 195);
